[submodule "js"]
	path = js
	url = https://github.com/githubtraining/example-submodule.git
[submodule "example-submodule"]
	path = example-submodule
	url = https://github.com/SvenScheurer/example-submodule
